<!-- pagination.ejs -->

<div class="pagination">
    <% if (currentPage > 1) { %>
      <a href="<%= `${urlPattern}${currentPage - 1}` %>">&laquo; Previous</a>
    <% } %>
  
    <% for (let i = 1; i <= totalPages; i++) { %>
      <a href="<%= `${urlPattern}${i}` %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
    <% } %>
  
    <% if (currentPage < totalPages) { %>
      <a href="<%= `${urlPattern}${currentPage + 1}` %>">Next &raquo;</a>
    <% } %>
  </div>
  